In [15]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
transaction_1977 = pd.read_csv(r"E:\Projects\Maven_power\Transactions\FoodMart-Transactions-1997.csv")
transaction_1978 = pd.read_csv(r"E:\Projects\Maven_power\Transactions\FoodMart-Transactions-1998.csv")
customers_df = pd.read_csv(r"E:\Projects\Maven_power\Customer-Lookup.csv")
products_df = pd.read_csv(r"E:\Projects\Maven_power\Product-Lookup.csv")
regions_df = pd.read_csv(r"E:\Projects\Maven_power\Region-Lookup.csv")
stores_df = pd.read_csv(r"E:\Projects\Maven_power\Store-Lookup.csv")

In [58]:
total_transactions = pd.concat([transaction_1977,transaction_1978]).drop_duplicates()
data = [total_transactions,customers_df,products_df,regions_df,stores_df]

In [70]:
def number_of_nulls(df):
    for column in df.columns:
        nulls = df[column].isna().sum()
        print(f"Number of null values in column {column} is {nulls}")

In [74]:
print("Number of nulls in Total transactions:")
number_of_nulls(total_transactions)
print("Number of nulls in Customers:")
number_of_nulls(customers_df)

Number of nulls in Total transactions:
Number of null values in column transaction_date is 0
Number of null values in column stock_date is 0
Number of null values in column product_id is 0
Number of null values in column customer_id is 0
Number of null values in column store_id is 0
Number of null values in column quantity is 0
Number of nulls in Customers:
Number of null values in column customer_id is 0
Number of null values in column customer_acct_num is 0
Number of null values in column first_name is 0
Number of null values in column last_name is 1
Number of null values in column customer_address is 0
Number of null values in column customer_city is 0
Number of null values in column customer_state_province is 0
Number of null values in column customer_postal_code is 0
Number of null values in column customer_country is 0
Number of null values in column birthdate is 0
Number of null values in column marital_status is 0
Number of null values in column yearly_income is 0
Number of null values in column gender is 0
Number of null values in column total_children is 0
Number of null values in column num_children_at_home is 0
Number of null values in column education is 0
Number of null values in column acct_open_date is 0
Number of null values in column member_card is 0
Number of null values in column occupation is 0
Number of null values in column homeowner is 0

In [73]:
print("Number of nulls in Products:")
number_of_nulls(products_df)
print("Number of nulls in Stores:")
number_of_nulls(stores_df)

Number of nulls in Products:
Number of null values in column product_id is 0
Number of null values in column product_brand is 0
Number of null values in column product_name is 0
Number of null values in column product_sku is 0
Number of null values in column product_retail_price is 0
Number of null values in column product_cost is 0
Number of null values in column product_weight is 0
Number of null values in column recyclable is 687
Number of null values in column low_fat is 1008
Number of nulls in Stores:
Number of null values in column store_id is 0
Number of null values in column region_id is 0
Number of null values in column store_type is 0
Number of null values in column store_name is 0
Number of null values in column store_street_address is 0
Number of null values in column store_city is 0
Number of null values in column store_state is 0
Number of null values in column store_country is 0
Number of null values in column store_phone is 0
Number of null values in column first_opened_date is 0
Number of null values in column last_remodel_date is 0
Number of null values in column total_sqft is 0
Number of null values in column grocery_sqft is 0

In [75]:
print("Number of nulls in Region:")
number_of_nulls(regions_df)

Number of nulls in Region:
Number of null values in column region_id is 0
Number of null values in column sales_district is 0
Number of null values in column sales_region is 0

In [82]:
customers_df = customers_df.dropna(subset=["last_name"])

In [90]:
products_df['recyclable'].value_counts()

recyclable
1.0    873
Name: count, dtype: int64

In [94]:
products_df['recyclable']=products_df['recyclable'].fillna("Not recyclable")

In [97]:
products_df['recyclable'].replace(1.0,"recyclable",inplace=True)

In [101]:
products_df['low_fat']=products_df['low_fat'].fillna("high fat")
products_df['low_fat'].replace(1.0,"low fat",inplace=True)

C:\Users\diabk\AppData\Local\Temp\ipykernel_9364\1642649801.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  products_df['low_fat'].replace(1.0,"low fat",inplace=True)

In [100]:
products_df['low_fat'].value_counts()

low_fat
high fat    1008
low fat      552
Name: count, dtype: int64

In [104]:
total_transactions.to_csv(r"E:\Projects\Maven_power\Total_Transactions.csv")
products_df.to_csv(r"E:\Projects\Maven_power\Producs.csv")